<br>
<br>

<div>
<!-- Colored icon button -->
<h4>Are you sure you want to leave us?</h4>
<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
  <i class="material-icons">error outline</i>
</button>
<p>Yes, I want out.</p>
<a href="/"><button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
  <i class="material-icons">reply</i>
</button></a>
<p>No! I didn't mean to...take me back</p>
</div>