<form class="login">
    <center><h4>Welcome back, you.</h4></center>
   <input type="email" class="form-control" id="email-input" placeholder="email"><span class="highlight"></span><span class="bar"></span>
  
 <div class="form-group">     <input type="password" class="form-control" id="password-input" placeholder="password"><span class="highlight"></span><span class="bar"></span>
   </div>
  <button type="submit" class="button buttonBlue clicklogin">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <center> <p> or <a href="/" id="returnButton">return</a> to sign up </p></center>
  
</form>