<form class="signup">
    <center> <h4> New User? Sign up below. </h4></center>
   <input type="email" class="form-control" id="email-input" placeholder="email"><span class="highlight"></span><span class="bar"></span>
  
 <div class="form-group">     <input type="password" class="form-control" id="password-input" placeholder="password"><span class="highlight"></span><span class="bar"></span>
   </div>
  <button type="submit" class="button buttonBlue clicksignup">Sign up!
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <center> <p> or for existing members,  <a href="/login" id="loginButton">login</a> </p> </center>
  
</form>