
<form class="signup">
    <center> <h4> New User? Sign up below. </h4></center>
      <br>
       <input type="email" class="form-control" id="email-input" placeholder="email"><span class="highlight"></span><span class="bar"></span>
      <br>
    <div class="form-group"><input type="password" class="form-control" id="password-input" placeholder="password"><span class="highlight"></span><span class="bar"></span>
   </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent {{!-- button buttonBlue clicksignup --}}">Sign up!
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <br>
  <center><p> or for existing members, <a href="/login" id="loginButton">login</a></p></center>
  
</form>